.site-wrapper {
    margin: 0;
    overflow-x: hidden;
}

.container-fluid {
    padding: 7px 15%;
}

.banner {
    background-color: #246ba1;
    padding: 15px 0 15px 0;
}

.how-to {
    margin-bottom: 5rem;
}

h1 {
    color: #fff;
    font-weight: 700;
    font-size: 48px;
}

.about-text {
    font-size: 20px;
    margin-top: 2rem;
}

#project-header {
    color: #263051;
    font-size: 40px;
    margin-top: 2rem;
}

.link-to {
    text-decoration: none;
    color: #246ba1;
    transition: .2s;
}

.link-to:hover {
    cursor: pointer;
    color: #031624;
}

.carousel {
    margin-top: 30%;
}

.carousel-item {
    padding: 7% 15%;
}

.phonebooth {
    height: 50vh;
    background-image: url("img/booth.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.audio-clips {
    background-color: rgba(36, 107, 161);
    border-radius: 25px;
}

.clip {
    position: relative;
    display: flex;
    margin: 0 auto;
}

.btn {
    background-color: #2fdae0;
}

.btn:hover {
    background-color: #218083;
}

.clip-title {
    color: #fff;
    font-size: 24px;
}


.modal-img {
    width: 100%;
    margin-bottom: 12px;
}

<<<<<<< HEAD
=======

>>>>>>> updatev2
.footer {
    background-color: #031624;
    height: 100%;
    padding: 5% 0 5% 0;
    text-align: center;
}


.footer p {
    width: 100%;
    font-size: 14px;
    margin: 0 auto;
}

.footer li {
    list-style: none;
    font-size: 12px;
}

.footer a {
    font-size: 11px;
    text-decoration: none;
    color: #a0a0a0;
}
.footer a:hover{
    color: #ffffff;
}

<<<<<<< HEAD
@media (max-width: 476px){
=======

.credential,
.sitemap-title {
    color: #677178;
}

@media (max-width: 600px) {
>>>>>>> updatev2
    body {
        width: 100vw;
        place-content: center;
    }

    .about-text {
        font-size: 12px;
    }

    h1,
    #project-header {
        font-size: 24px;
        
    }

<<<<<<< HEAD

    #phonebooth{
        display: block;
        width: 100%;
    }
=======
    .interact-container {
        display: block;
    }

    #phonebooth {
        width: 100%;
    }

    .footer {
        width: 100%;
        font-size: 12px;
    }

   .container-fluid{
        padding: 5% 0 5% 0;
    }

    .footer li {
        list-style: none;
        font-size: 8px;
    }

    .footer a {
        text-decoration: none;
        color: #a0a0a0;
    }



>>>>>>> updatev2
}

@media (max-width: 800px) {
    body {
        width: 100vw;
        display: block;
        text-align: center;
        place-content: center;
    }

    p {
        font-size: 18px;
    }

    h1,
    #project-header {
        font-size: 24px;
    }

    .interact-container {
        display: block;
        margin: 0 auto;
    }

    #phonebooth {
        width: 100vw;
        height: 100vh;
    }

    .sources {
        text-align: center;
    }



    .audio-clips {
        position: absolute;
        display: block;
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;
        place-content: center;
        border-radius: 0;

    }

    .how-to>p {
        padding: 0px 12px 0px 12px;
    }

    .carousel {
        display: block;
        position: absolute;
    }

    .clips {
        display: block;
        position: relative;
        place-content: center;

    }

    .slide {
        position: absolute;
        place-content: center;
        margin-top: 100%;
    }

    .container-fluid {
        padding: 5% 7% 5% 15%;
    }

    .sources {
        font-size: 12px;
    }


    ul {
        list-style: none;
    }

    li {
        text-decoration: none;
        list-style: none;
        font-size: 10px;
        text-align: left;
    }
}